* {
	box-sizing: border-box;
}

body {
	font-family: sans-serif;
	margin: 0;
}

.display {

}

.flex-container-column {
	display: flex;
	flex-direction: column;

	max-width: 800px;
	margin: 0 auto;
	text-align: right;
}

.flex-container-row {
	display: flex;
}

.button {
	flex-basis: 25%;

	font-size: 1.5em;
	text-align: center;
	padding: 40px;
	border: 1px solid black;
	background: -webkit-linear-gradient(top, #d2d2d2, #eee);
	cursor: pointer;
	margin: 3px;
	transition: all .2s ease;
}

.button:hover {
	box-shadow: 0px -1px 15px -3px black;
	font-weight: bold;
}

.equals {
	flex-grow: 2;
}

.display {
	color: white;
	width: 100%;
	padding: 10px 20px;
	background-color: #333;
	border: 1px solid black;
	font-size: 2em;
}

.operator,
.negative,
.equals {
	background: orange;

}

.card {
	box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
	border-radius: 5px;
	padding: 30px;
	margin-top: 20px;
}

footer {
	text-align: center;
	padding: 40px;
	/*background: -webkit-linear-gradient(top, #d2d2d2, #000);
	color: white;*/
	margin-top: 10px;
	font-weight: bold;
	
}



@media screen and (max-width: 523px) {
	.button {
		padding: 10px;
		font-size: 1em;
	}


}